<h2><%= t('.become_guru')%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label t('.your_name') %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: t('.your_name') %>
  </div>

  <div class="field">
    <%= f.label t('.your_last_name')  %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: t('.your_last_name') %>
  </div>

  <div class="field">
    <%= f.label t('.email') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: t('.email') %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('.min_password', min: @minimum_password_length)%></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "password-field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password-confirmation-field" %>
    <%= octicon 'x', class: 'octicon-wrong text-danger hide mt-1' %>
    <%= octicon 'key', class: 'octicon-right text-success hide mt-1' %>
  </div>
  <div class="">
    
  </div>
  <div class="actions mt-3">
    <%= f.submit t('.sign_up'), class: "btn btn-secondary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
