<div class="nav nav-admin">
  <%= content_tag :b, (link_to 'TestGuru', tests_path), class: "project-name"%>
  <% if user_signed_in? %>
    <%= content_tag :i, "Welcome, #{current_user.email} guru!", class: "user" %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> | 
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
</div>