<div class="navbar navbar-expand-lg navbar-light bg-info rounded">
  <div class="container text-right">
    <%= link_to t('.project_name'), root_path, class: "navbar-brand text-light"  %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to t('.badges'), admin_badges_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to t('.users_achievements'), admin_achievements_path, class: "nav-link text-light" %>
        </li>
      </ul>
    </div>  
    <div class="navbar-text">
      <% if Gist.any? %>
        <%= link_to t('.gists'), admin_gists_path, class: "btn btn-outline-secondary text-light", target: :_blank %>
      <% end %>

      <% if user_signed_in? %>
        <%= content_tag :i, t('.welcome', email: current_user.email), class: "text-light" %>
        <%= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: "btn btn-outline-light text-light" %>
      <% else %>

        <%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-outline-light text-light" %>
        <%= link_to t('.log_in'), new_user_session_path, class: "btn btn-outline-light text-light" %>
      <% end %>
    </div>
  </div>
</div>