<h3 class="text-center mt-5 mb-5"><%= t('.passing') %> <i><%= @test_passage.test.title %></i> <%= t('.test') %></h3>

<div class="card">
  <div class="card-header">
    <h4><%= @test_passage.current_question.body %></h4>
  </div>
  <div class="card-body">
    <%= form_with url: test_passage_path(@test_passage), local: true, class: "test-passage-form", method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false, class: "list-group" do |b| %>
        <li class="list-group-item">
          <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input me-1"%>
          <%= b.label %>
        </li>
      <% end %>
      <div class="mt-3">
        <%= link_to t('.save_gist'), gist_test_passage_path(@test_passage), method: :post, class: 'btn btn-sm btn-outline-secondary' %>
      </div>
      <div class="mt-3">
        <%= form.submit t('.next'), class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <div class="mt-2">
      <p>
        <%= t('.timer')%>
        <%= content_tag :span, test_timer(@test_passage.test.timer), class: 'test-passage-timer', data: {timer: @test_passage.test.timer} %>
      </p>
    </div>

    <div class="progress mt-2">
      <%= content_tag :div,  test_passage_percentage(@test_passage.question_number, questions_count(@test_passage.test)), class: 'progress-bar progress-bar-striped progress-bar-animated bg-success', id: 'progress-bar', data: {progress: test_passage_percentage(@test_passage.question_number, questions_count(@test_passage.test))} %>
    </div>

    <div class="text-center">
      <%= t('.question_number', number: @test_passage.question_number, count: questions_count(@test_passage.test)) %>
    </div>
  </div>  
</div>  