<div class="nav">
  <%= content_tag :b, (link_to 'TestGuru', tests_path), class: "project-name"%>
  <% if logged_in? %>
    <%= content_tag :i, "Welcome, #{current_user.email} guru!", class: "user" %>
    <%= link_to "Logout", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", signup_path %> | 
    <%= link_to "Log in", login_path %>
  <% end %>
</div>