<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2><%= t('.enter_guru_gates') %></h2>

    <div class="card border-dark">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <p>  
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, placeholder: t('.email'), class: 'form-control' %>
            </p>

            <p>
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: t('.current_password'), class: 'form-control' %>
            </p>

            <% if devise_mapping.rememberable? %>
              <div class="form-check">
                <%= f.check_box :remember_me, class: "form-check-input", type: "checkbox", id: "flexCheckChecked" %>
                <%= f.label :remember_me, class: "form-check-label", for: "flexCheckChecked" %>
              </div>
            <% end %>
          </div>
        
          <%= f.submit t('.enter'), class: 'btn btn-outline-dark' %>
        <% end %>
      </div>
    </div>
      
  <div class="mt-2">
    <%= render "devise/shared/links" %>
  </div>
</div>