<h3 class="text-center mt-5"><%= t('.header') %></h3>

  <%= render 'shared/errors', resource: @user_badge %>

<div class="container">
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col" class="col-md-3"><%= t('.user') %></th>
        <th scope="col" class="col-md-2 pointer"><%= t('.achievement') %></th>
        <th scope="col" class="col-md-2"><%= t('.achievement_title') %></th>
        <th scope="col" class="col-md-2"><%= t('.achievement_rule') %></th>
        <th scope="col" class="col-md-3 text-center"><%= t('.actions') %></th>
      </tr>
    </thead>

    <tbody>
        <%= render @user_badges %>
    </tbody>
  </table>
</div>
