<tr>  
  <td>
    <%= content_tag :span, 
                    test.title, 
                    class: 'test-title', 
                    data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  
  <td><%= questions_count(test) %></td>
  <td class="text-center">
    <% if test.ready %>
      <button type="button" class="btn btn-sm btn-success" disabled><%= t('.badge_test_ready') %></button>
    <% else %>
      <button type="button" class="btn btn-sm btn-danger" disabled><%= t('.badge_test_unready') %></button>
    <% end %>
  </td>
  <td>
    <%= link_to t('.show'), admin_test_path(test), class: "btn btn-sm btn-outline-success" %>
    <%= link_to t('.edit'), edit_admin_test_path(test), class: "btn btn-sm btn-outline-warning form-inline-link", data: { test_id: test.id } %>
    <%= link_to t('.delete'), admin_test_path(test), method: :delete, data: { confirm: t('.confirmation') }, class: "btn btn-sm btn-outline-danger" %>
  </td>
</tr>