<h3><%= t('.header') %></h3>

<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.questions_number') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>

  <tbody>
      <%= render @tests %>
  </tbody>
</table>

<br>
